#root, html, body {
  padding: 0;
  margin: 0;
  /* full height of monitor */
  height: 100vh;
  
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/crazy-christmas-towns-leavenworth1.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px 10px #333;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
}

.button {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  height: 20%;
  background-color: rgba(255, 188, 188, 0.605);
  border-radius: 16px 16px 16px 16px;
  color: whitesmoke;
}

.button:hover {
  background-color: rgba(255, 93, 93, 0.3)
}

.button:active {
  background-color: rgba(255, 93, 93, 0.5);
}

